<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width">
  <link href="/horten-control/horten-control.css" rel="stylesheet"/>
  <script src="/horten-websocket/bootstrap.js"></script>
</head>
<body class='horten'>
<!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{{{ body }}}
</body>
</html>
